.container {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 70%;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.subtitle {
    font-size: 22px;
    font-weight: 600;
}

.task-category {
    font-weight: 600;
}

.button-add {
    margin-bottom: 20px;
    width: 100%;
}

.task-detail {
    border: 1px solid black;
}

.task-detail p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.group {
    clear: both;
}

.group .left {
    float: left;
}

.group .right {
    float: right;
}

.delete-task {
    width: 30%;
}

.delete-task .subtitle {
    margin-bottom: 15px;
}


.edit-task p {
    padding-bottom: 10px;
    padding-top: 5px;
}

.edit-task p label {
    float: left;
    margin-right: 10px
}





#divLogo {
    float: left;
    width: 300px;
    height: 100%;
    padding: 21px 0;
    margin-left: 17%;
}

#divAutentification {
    width: 300px;
    float: right;
    padding: 38px 0;
    margin-right: 17%;
}

#divBarMenu {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: white;
    border-bottom: thin solid #CDCECF;
    position: fixed;
    top: 0;
    z-index: 1;
}

#logoImg , #logoTitle{
	height: 70px;
	width: 70px;
}

html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    background: url(https://raw.githubusercontent.com/babadela3/BoardgameApp/login_page/SpringApp/src/main/resources/static/images/photo1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}


#signUp, #logIn, #line{
	font-size:20px;
	font-weight: bold;
}
#signUp, #logIn{
    color:#2196F3;
    margin-right:5px;
    margin-left:5px;
    cursor: pointer;
}

#divMenu{
    background-color: white;
    width:1250px;
    height: 650px;
    display: block;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    border: thin solid #CDCECF;
}


#divEmpty{
	width:350px;
    height:100%;
    border-right: 2px solid #CDCECF;
    float:left;
}

#divMenuReset{
	width:800px;
    height: 650px;
    float:right;
}

#divResetTitle{
    margin-top:80px;
    margin-bottom:40px;
    text-align:left;
    margin-left:50px;
    margin-right:50px;
}

#resetTitle{
    font-size:35px;
}

.divResetEmailLabel{
    margin-top:40px;
    width:100px;
    text-align:left;
    margin-left:80px;
    margin-right:50px;
}

.divResetEmailText{
    display:inline-block;
    width:250px;
    text-align:left;
    position: relative;
    bottom:32px;
    right:100px;
}