{% extends 'layout.html' %} {% block title %}{{ problem.title }}{% endblock %} {% block content %}

<div id="divMenu">
    <div id="divEmpty">
    </div>
    <div id="divMenuReset"> 
        <div id="divResetTitle">
            <label id="resetTitle">{{problem.title}}</label>
        </div>
        <div class="divResetEmailLabel">
            <label class="resetEmailLabel"><b>Difficulty:</b></label>
        </div>
        <div class="divResetEmailText">
            <label class="resetEmailText"> {{problem.get_difficulty_display}}</label>
        </div>
        <div class="divResetEmailLabel">
            <label class="resetEmailLabel"><b>Hints:</b></label>
        </div>
        <div class="divResetEmailText">
            <label class="resetEmailText"> {{problem.hints}}</label>
        </div>
        
        <div>{{ problem.content }}
        </div>
        <div class="float-sm-right">
            <a href="/Problem/{{ problem.pk }}/AddComment">
                        <button class="btn btn-primary">
                            Add Comment
                        </button>
                    </a>
        </div>
        <div class="float-sm-right">
            <a href="/Problem/{{ problem.pk }}/ViewComments">
                        <button class="btn btn-primary">
                            View Comments
                        </button>
                    </a>
        </div>
    </div>
</div>    


{% endblock %}
