{% extends 'layout.html' %} {% block title %}User profile{% endblock %} {% block content %}

<div>
    <p><b>Username:</b> {{ userprofile.user_pk.username }}</p>

    <p><b>Name:</b>{{ userprofile.user_pk.first_name}} {{userprofile.user_pk.last_name }}</p>

    <p><b>Score:</b> {{ userprofile.score }}</p>

    <p><b>Birth date:</b> {{ userprofile.birth_date }}</p>

    <p><b>University:</b> {{ userprofile.university }}</p>

    <div class='container'>
        <p class='title'>Lista probleme rezolvate</p>
        <table class='table'>
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>Nume</th>
                    <th>Dificultate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for problem in resolved_problems %}
                <tr>
                    <td>{{ problem.problem_id.pk }}</td>
                    <td>{{ problem.problem_id.title }}</td>
                    <td>{{ problem.problem_id.get_difficulty_display }}</td>
                    <td>
                        <a href="/Problem/{{ problem.pk }}/">
                        Details
                    </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
